<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.apkide.ui">

	<uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

	<application
		android:largeHeap="true"
		android:name=".IDEApplication"
		android:banner="@mipmap/ic_banner"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:resizeableActivity="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="false"
		android:theme="@style/Theme.App"
		android:usesCleartextTraffic="true"
		tools:targetApi="s">
		<activity
			android:theme="@style/Theme.UI"
			android:name=".MainUI"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>